/* font import */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');

body {
    background: url('https://iili.io/KQwZbku.jpg') no-repeat center center fixed;
    color: #FFFFFF !important;
    background-size: cover;
    font-family: 'Bitcount Grid Single';
}

.col-md-9.col-xs-12 {
    background: none !important;
    border: 4px double #FFFFFF !important;
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
}

div.container.main {
    background: rgba(0, 0, 0, 0.5) !important;
    border: 4px double #FFFFFF !important;
    border-radius: 15px !important;
}

.navbar {
    background: #000000 !important;
    border: 1px solid #FFFFFF !important;
    border-radius: 15px !important;
    border-bottom: none !important;
    border-top: none !important;
    border-right: none !important;
    box-shadow: none !important;
    font-family: 'Bitcount Grid Single';
}

.navbar li a {
    color: #FFFFFF !important;
}

.navbar li a:hover {
    background: #000000 !important;
    color: #FFFFFF !important;
    border: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 40px #FFFFFF; !important;
        text-shadow: 0 0 5px #FFFFFF, 0 0 10px #FFFFFF, 0 0 20px #FFFFFF; !important;
        transition: 0.8s !important;
}

    /*lioden logo replacement*/
.navbar-header > a > img {
    content: url('https://iili.io/KQyUVp9.png'); !important;
    width: 150px;
}

.breadcrumb {
    background: #000000 !important;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
    border-radius: 15px !important;
}

.breadcrumb::after {
    content: "CSS by Blub-Blub (#519615)";
    position: absolute;
    right: 20%;
    z-index: 100;
    color: #FFFFFF;
}

.feature {
    background: #000000 !important;
    color: #FFFFFF !important;
    border: 1px solid #000000 !important;
    border-radius: 15px !important;
}
    
.cave-grid {
    background: #000000 !important;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
    border-radius: 15px !important;
}

.cave-grid:hover {
    text-shadow: 0 0 5px #FFFFFF, 0 0 10px #FFFFFF, 0 0 20px #FFFFFF; !important;
    transition: 0.8s !important;
}

.mound-grid {
    background: #000000 !important;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
    border-radius: 15px !important;
}

.mound-grid:hover {
    text-shadow: 0 0 5px #FFFFFF, 0 0 10px #FFFFFF, 0 0 20px #FFFFFF; !important;
    transition: 0.8s !important;
}

div.cave-grid>img {
content: url('https://iili.io/KZBOdKX.jpg') !important;
}

div.mound-grid>img {
content: url('https://iili.io/KtLA5kx.jpg') !important;
  width: 181.875px;
  height: 120px;
}

.col-xs-10 {
    background: rgba(0, 0, 0, 0.5) !important;
    border: 1px solid #FFFFFF !important;
}

.div.col-xs-2 {
    background: rgba(0, 0, 0, 0.5) !important;
    border: 1px solid #FFFFFF !important;
    }

.topbar {
    background: #000000 !important;
    color: #FFFFFF !important;
    border-top: none !important;
    border-bottom: 1px solid #FFFFFF !important;
}

div.topbar>img.icon {
    content: url('https://iili.io/Ktqtrsj.jpg') !important;
    }

.sidebar {
    background: none !important;
    color: #FFFFFF !important;
    border: none !important;
}

.panel {
    background: #000000 !important;
    border: 1px solid #FFFFFF !important;
    border-radius: 15px; !important;
    box-shadow: none !important;
}

.s-chat-message:nth-child(even) {
    background: #000000 !important;
    color: #FFFFFF !important;
    border: 1px dashed #FFFFFF !important;
}

.s-chat-message:nth-child(odd) {
    background: #1F1F1F !important;
    color: #FFFFFF !important;
    border: 1px dashed #FFFFFF !important;
}

.s-chat-message_timestamp {
    color: #C16F8B !important;
}

#chatMessageContainer {
    color: #FFFFFF !important;
    border: none !important;
}

button#label_currentChannel {
    background: #000000 !important;
    color: #FFFFFF !important;
    border: none !important;
}

.s-chat-message_content {
    background: none !important;
    color: #FFFFFF !important;
    border: none !important;
}

.s-chat-message_pinned {
    background: #0000000 !important;
    color: #FFFFFF !important;
    border: 1px dashed #FFFFFF !important;
}

h1 { 
    text-align: center !important;
    color: #FFFFFF !important;
    font-family: 'Bitcount Grid Single';
}

h3 {
    text-align: center !important;
    color: #FFFFFF !important;
    font-family: 'Bitcount Grid Single';
}

.top {
    background: #000000 !important;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
    border-radius: 15px; !important;
    text-align: center !important;
    font-family: 'Bitcount Grid Single';
    }

th {
    background: #000000 !important;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
    border-radius: 15px; !important;
    text-align: center !important;
    font-family: 'Bitcount Grid Single';
}

.bottom {
    background: #000000 !important;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
    border-radius: 15px; !important;
    text-align: center !important
    font-family: 'Bitcount Grid Single';
}

.left {
    background: #000000 !important;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
    border-radius: 15px; !important;
    text-align: center !important;
    font-family: 'Bitcount Grid Single';
}

td { 
    background: #000000 !important;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
    border-radius: 15px; !important;
    text-align: center !important;
    font-family: 'Bitcount Grid Single';
}

.right_cub {
    background: #000000 !important;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
    border-radius: 15px; !important;
    text-align: center !important;
    font-family: 'Bitcount Grid Single';
}

a:link {
    color: #C16F8B !important;
}

a:visited {
    color: #C16F8B !important;
}

a:hover {
    color: #D49BAE !important;
    transition: 0.8s !important;
}

.topbar a:link {
    color: #C87E97 !important;
}

.alert-danger {
    background: #000000 !important;
    color: #C16F8B !important;
    border: 1px solid #FFFFFF !important;
    text-align: center !important;
}

.alert-success {
    background: #000000 !important;
    color: #C16F8B !important;
    border: 1px solid #FFFFFF !important;
    text-align: center !important;
}

.attack-won {
    background: #000000 !important;
    color: #C16F8B !important;
    border: 1px solid #FFFFFF !important;
    text-align: center !important;
}

    .attack-lost {
    background: #000000 !important;
    color: #C16F8B !important;
    border: 1px solid #FFFFFF !important;
    text-align: center !important;
    }

input[type="button"] {
    background: #000000 !important;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
    text-align: center !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

input[type="submit"] {
    background: #000000 !important;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
    text-align: center !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

input[type="text"] {
    background: #000000 !important;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
    text-align: center !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

input[type="password"] {
    background: #000000 !important;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
    text-align: center !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

textarea {
    background: #000000 !important;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
    text-align: center !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

select {
    background: #000000 !important;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
    text-align: center !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

input[type="button"]:hover {
    background: #000000 !important;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
    text-align: center !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

input[type="text"]:focus {
    background: #000000 !important;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
    text-align: center !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

input[type="password"]:focus {
    background: #000000 !important;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
    text-align: center !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

textarea:focus {
    background: #000000 !important;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
    text-align: center !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

select:focus {    
    background: #000000 !important;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
    text-align: center !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

.progress {
    background: #1F1F1F !important;
    border: 1px solid #FFFFFF !important;
    border-radius: 15px; !important;
}

.progress div {
    color: #FFFFFF !important;
}

.progress-bar {
    background: #C2708B !important;
}

.progress-bar-warning {
    background: #C2708B !important;
}

.progress-bar-danger {
    background: #C2708B !important;
}

.progress-bar-success {
    background: #C2708B !important;
}

/* SB Icon */
img[src$="silver.png"] {
    content: url('https://iili.io/KtEjjFn.jpg') !important;
    width: 20px !important;
    }

/* GB Icon */
img[src$="gold.png"] {
    content: url('https://iili.io/KtEwFNR.jpg') !important;
    width: 20px !important;
    }

#commentBox {
    border: 1px solid #FFFFFF !important;
    border-radius: 15px; !important;
    heigh: 200px !important;
    background: #000000 !important;
    color: #FFFFFF !important;
    box-shadow: none !important;
}

.commentBox {
height: 300px;
width: 708px;
overflow: hidden;
margin-bottom: 10px;
transition: height 0.8s;
}

.commentBox:hover {
height: 100%;
overflow: auto;
}
